# Disable Directory Browsing
Options All -Indexes
# Enforce UTF-8
AddDefaultCharset utf-8
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml
# Clean URLs
RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ /$1.html [L]
# Deny access to .xyz files (config)
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]
# Disable image hotlinking
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?11italy.hu [NC]
RewriteRule \.(jpe?g|png|gif|bmp)$ - [NC,F,L]

# Redirect
RewriteEngine on
RewriteCond %{HTTP_HOST} ^neudle\.11italy\.hu$ [NC]
RewriteCond %{REQUEST_URI} !^/neudle/
RewriteRule (.*) /neudle/$1