* {
	transition: .1s;
}
a {
	color: white;
	font-weight: bold;
}
a:hover {
	color: rgb(220, 220, 220);
}
a:active {
	color: rgb(140, 140, 140);
}
body {
	background-image: url("neumann_suli.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	color: white;

	font-family: 'Marcellus', 'Garamond', serif;
	font-size: 18px;
	text-align: justify;
}
div#window {
	background-color: blueviolet;
	width: 50%;
	min-width: 700px;
	max-width: 1400px;
	margin: auto;

	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
header {
	background-color: rgb(70, 70, 70);
	background-image: url("jancsi.jpg");
	background-size: cover;
	background-position: 0, 0;
	background-blend-mode:soft-light;

	padding: 10px;
	box-sizing: border-box;

	line-height: 100%;

	text-align: center;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}
header a {
	color: white;
	text-decoration: none;
}
header hr {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}
#title {
	font-family: 'Marcellus', 'Garamond', serif;
	font-size: 72px;
	margin-bottom: 42px;
}
#subtitle {
	font-family: "Caveat", "Segoe UI Script", cursive;
	font-weight: 400;
	font-size: 36px;
	margin-top: 20px;
}

main {
	padding: 20px;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

footer {
	padding: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 18px;
	line-height: 18px;

	background-color: rgba(70, 70, 70, 0.5);
}
#split {
	display: flex;
    flex-wrap: nowrap;
    flex-shrink: 2;
}
#split * {
	width: 50%;
	display: block;
	margin-bottom: 8px;
}
button {
	cursor: pointer;
}

.growOnHover {
	transition: .25s;
}
.growOnHover:hover {
	transform: scale(1.1);
}